.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

header {
  color: white;
  font-size: 2rem;
  padding: 1.5rem;
  text-align: center;
}

.subtitle {
  margin-top: 3rem;
  font-size: 1.8rem;
  text-align: center;
}
.registerArea {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8vh;
  margin-top: 2rem;
}

.inputArea {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.directInput {
  height: 3.7vh;
  font-size: 1rem;
}

.indirectInput {
  height: 3.7vh;
  font-size: 1rem;
}

.btnArea {
  height: 100%;
  width: 20vw;
  border: none;
  color: white;
  font-weight: bold;
  margin-left: 0.2rem;
  font-size: 2.5rem;
  line-height: 100%;
}

.workouts {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workoutList {
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  justify-content: space-between;
}

.fixedBtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.fixedOpenedBtn {
  position: fixed;
  bottom: 0rem;
  right: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  width: 100vw;
  overflow: scroll;
}

.colorPart {
  display: flex;
  overflow-x: scroll;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  padding-right: 0.5rem;
  width: 100%;
}

.closeBtn {
  background-color: white;
  padding-bottom: 1.5rem;
  padding-left: 0.5rem;
}

.deleteBtn {
  padding: 0.5rem;
  width: 3vw;
}

.workoutName {
  width: 100%;
  font-size: 1.2rem;
}

.strtBtn {
  border: none;
  font-size: 1.8rem;
  padding: 0.8rem;
  border-radius: 3.5px;
  margin-top: 3rem;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .colorPart {
    justify-content: flex-end;
  }
}

.recordBtn {
  margin-top: 2rem;
  font-size: 1.5rem;
}
