.detail {
  min-height: 2rem;
  min-width: 2rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteBtn {
  color: white;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.clearbtn {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.setInform {
  margin-left: 0.5rem;
}

.weightInput {
  width: 3rem;
  height: 1rem;
}

.repsInput {
  width: 3rem;
  height: 1rem;
}
