.workoutPart {
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.workoutName {
  color: white;
  text-align: center;
  margin-top: 1rem;
}

.setPart {
  background-color: white;
}

.plusBtn {
  background-color: "white";
  text-align: center;
}

.doneBtnPart {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doneBtn {
  font-size: 1.3rem;
  width: 10rem;
  height: 4rem;
  color: white;
  border-radius: 2px;
  border: none;
  margin-bottom: 3rem;
}
